.header {
    background-color: #000000;
    padding: 10px;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-heading {
    margin: 0;
    flex: 1;
}

.header-heading__img {
    width: 250px;
    display: block;
}
.header-heading__nav {
    flex: 1;
}

.header-heading__nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header-heading__nav-content a,
.header-heading__nav-content input[type="submit"] {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    background: none;
    border: none;
    cursor: pointer;
}
